@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spinner {
  height: 100vh;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
}
.spinner::before {
  border: solid 5px black;
  border-bottom-color: transparent;
  border-radius: 50%;
  content: "";
  height: 70px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 70px;
  animation: 1s linear infinite spinner;
}
